.mountain-bg{
    border-top: 2px solid black;
}

.gallery{
	width: 85%;
	margin:0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* display: flex; */
}

.gallery img{
	width: 100%;
}

.item{
	border: 2px solid black;
}