*{
    font-family: 'Ubuntu', sans-serif;
}

.header {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.body{
    background-color: #292c2f
}

/*----Nav----*/
.header h1{
    grid-column-start: 1;
    grid-column-end:2; 
    font-size: 3em;
    /* background-color: lightgray; */
    margin:1.5% 0% 0% 0%;
    padding:0% 0% 3% 0%;
}

.nav {
    grid-column-start: 3;
    grid-column-end: 5; 
    /* background-color: lightpink; */
    text-align: right;
}
    .navicon > ul > li{
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    padding: 0% 2% 0% 2%;
    margin:0;
    }

    .navicon > ul > li > a{
    text-decoration: none;
    }


    .navicon > ul > li > a:visited{
        color:black;
    }
    .navicon > ul > li > a:hover{
        color:	#20B2AA;
    }


    .navbar > ul{
        list-style-type: none;
        overflow: hidden;
        margin-bottom:0;
        margin-top:1.5%;
    }

    .navbar > ul > li > a{
        text-decoration: none;
        color:  #292c2f;
        /* padding: 10px 10px; */
        margin: 10px 10px;
    }

    .navbar > ul > li{
        display: inline-block;
        color:  #292c2f;
        text-align: center;
        margin: 0% 4% 0% 4%;
        text-decoration: none;
        font-size:1.5em;
    }

    .navbar > ul > li > a:hover {
        color:	#20B2AA;
    }

.current{
    border-bottom: 4px solid  #20B2AA;
    padding: 0%;
}

.dropdown {
    grid-column-start: 1;
    grid-column-end: 2;
}

/*-----Home-----*/
/*----Banner----*/
.banner{
    display:block;
    height: 600px;
    background-image:url("../imgs/banner-bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    border-top:2px solid black;
}

.greeting{
    font-size: 60px;
    margin: 0%;
    color:white;
    text-align: center;
    line-height: 550px;
}

/*----------About----------*/

/*----------Climb----------*/

/*----------Contact----------*/
.contact{
    display:grid;
    grid-template-columns: 50% 50%;
    background-image: url("../imgs/gnj.png");
    display:block;
    height: 600px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    border-top:2px solid black;
}


/*---skip link---*/
.skip-links{
    margin:0;
    padding:0;
    list-style-type:none;
}

.skip-links a{
    font-size: 1.5em;
    font-weight: bold;
    position:absolute;
    top:-3em;
    left:40%;
    text-decoration: none;
}

.skip-links a:focus{
    top:0;
}

.skip-links a:visited{
    color: blue;
}







